.button {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: 0;
  color: #4c4c4c;
  text-decoration: none;
  cursor: auto;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  white-space: normal;
  word-spacing: normal;
  box-sizing: border-box;
  background-color: #84bef0;
  color: #fff;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  line-height: 1;
  color: #fff;
  font-weight: 300;
  white-space: nowrap;
  cursor: pointer;
  transition: all .4s;
}
